<h2 class="text-on-surface text-3xl font-bold">about</h2>

hi, i'm josh and i like programming. my favorite food is hot pot and i'm a big fan of learning languages.

<h2 class="text-on-surface text-3xl font-bold">website</h2>

<a href="https://josh.bashed.sh" class="text-primary hover:underline">josh.bashed.sh</a>
