<h2 class="text-on-surface text-3xl font-bold">about</h2>

hi i'm Koko

<h2 class="text-on-surface text-3xl font-bold">website</h2>

<a href="https://kokoh.squarespace.com/" class="text-primary hover:underline">web</a>
