---
import Page from '../components/Page.astro';
---

<Page title="bay.works" description="we are a computer science club based in Cupertino.">
    <h1 class="text-4xl font-bold">bay.works club website</h1>
</Page>
