---
import { Footer } from '../components/Footer';
import { HeroSection } from '../components/HeroSection';
import Page from '../components/Page.astro';
---

<Page title="bay.works" description="we are a computer science club based in Cupertino.">
    <!-- Hero -->
    <HeroSection client:load />
    <div class="h-64"></div>
    <Footer />
</Page>
