<h2 class="text-on-surface text-3xl font-bold">about</h2>

i'm a high school student and through two years of dedicated practice, i've gained fluency in java, javascript, and typescript.


<h2 class="text-on-surface text-3xl font-bold">website</h2>

<a href="https://peletic.com/" class="text-primary hover:underline">peletic.com</a>
